{% load static %}

<html lang="en">

<head>
    <title>Contact</title>
    <link rel="stylesheet" href="{% static 'cinema/style.css' %}">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>


<body>
    <div class="header">
        <h1><a href="index" style="color: inherit; text-decoration: none;">{{settings.site_name}}</a></h1>
        {% if user.is_authenticated %}
            <span id = "hello"> Bine ai venit, {{request.user}}! <a href="logout" style="color: #ff0000; text-decoration: none;"> (logout)</a></span>
        {% else %}
        {% endif %}
         
        {% if has_notif == True %}
            <a href="notifications" style = "color:#ff0000" ><i class="fa fa-bell"></i></a>
        {% else %}
            <a href="notifications" style = "color:#ffffff" ><i class="fa fa-bell"></i></a>
        {% endif %} 
        
    </div>

    <div class="content">
        <div class="navbar">
            <ul>
                <li><a href="index">Acasă <i class="fa fa-home"></i></a></li>
                <li><a href="schedule">Program <i class="fa fa-calendar"></i></a></li>
                <li><a href="profile">Profil <i class="fa fa-address-book"></i> </a></li>
                <li><a class = "active" href="contact">Contact <i class="fa fa-phone"></i></a></li>
                {% for group_for in request.user.groups.all %}
                    {% if group_for.name == 'employee' or group_for.name == 'admin'%}
                        <li><a href="employee" style = "color: #3333cc">Angajat </a></li>
                    {% endif %}

                    {% if group_for.name == 'admin' %}
                        <li><a href="admin" style = "color: #cc0000">Admin </a></li>
                    {% endif %}

                {% endfor %}
                
            </ul>
        </div>
   </div>

   <div style = "margin-left:16%" class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
    <h4 id = "login-header"> Lasa o intrebare sau un mesaj, iar un angajat iti va raspunde </h4>               
    <form method = "POST" action = "">
        {% csrf_token %}
        <div class="row">
            <div class="col-12">
                <textarea style = "font-size: 20" rows = "5" name="message" class="form-control mb-30" placeholder="Mesajul dumneavoastra"></textarea>
              </div>
        </div>

        <div class="text-center text-lg-start mt-4 pt-2">
            <input type="submit" name="getintouch" class = "button">
        </div>

    </form>
    </div>

    
    <div >
        {% if messages%}
            <p style = "margin-left:25%; font-size:20"> Istoric mesaje trimise </p>
        {% else %}
        {% endif %}

            {% for message in messages %}
            <div align = "center" style = "border: solid; width: 50%; margin-left:8%">
                <p>Mesaj trimis in data de: {{message.send_date}}</p>
                <p>Text: {{message.text}} </p>
                {% if message.response != "none" %}
                    <p style = "color: #0EAF92">Raspuns: {{message.response}} </p>
                {% else %}
                    <p style = "color: #ff0000">Nu ai primit niciun raspuns la acest mesaj!</p>
                {% endif %}
                <button type="button"><a style = "text-decoration: none" href = "delete/message/{{message.id}}">sterge</a></button>
            </div>
            <br>
            {% endfor %}
        
    </div>

</body>

</html>