{% load static %}
<html lang="en">

<head>
    <title>Acasă</title>
    <script src="{% static 'cinema/scripts.js' %}"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{% static 'cinema/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>


<body style = "background-color: #000000">
    <div class="header">
        <h1><a href="index" style="color: inherit; text-decoration: none;">{{settings.site_name}}</a></h1>
        {% if user.is_authenticated %}
            <span id = "hello"> Bine ai venit, {{request.user}}! <a href="logout" style="color: #ff0000; text-decoration: none;"> (logout)</a></span>
        {% else %}
        {% endif %}
        
        {% if has_notif == True %}
            <a href="notifications" style = "color:#ff0000" ><i class="fa fa-bell"></i></a>
        {% else %}
            <a href="notifications" style = "color:#ffffff" ><i class="fa fa-bell"></i></a>
        {% endif %}
         
    </div>

    <div class="content">
        <div class="navbar">
            <ul>
                <li><a class = "active" href="index">Acasă <i class="fa fa-home"></i></a></li>
                <li><a href="schedule">Program <i class="fa fa-calendar"></i></a></li>
                <li><a href="profile">Profil <i class="fa fa-address-book"></i> </a></li>
                <li><a href="contact">Contact <i class="fa fa-phone"></i></a></li>
                {% for group_for in request.user.groups.all %}
                    {% if group_for.name == 'employee' or group_for.name == 'admin'%}
                        <li><a href="employee" style = "color: #3333cc">Angajat </a></li>
                    {% endif %}

                    {% if group_for.name == 'admin' %}
                        <li><a href="admin" style = "color: #cc0000">Admin </a></li>
                    {% endif %}

                {% endfor %}
                
            </ul>
        </div>


        <div class = "slideshow">
            <img class="mySlides" src="{% static 'cinema/avatar.jpg' %}" width=100% height = 60%>
            <img class="mySlides" src="{% static 'cinema/kong.jpg' %}" width=100% height = 60%>
            <img class="mySlides" src="{% static 'cinema/4dx.jpg' %}" width=100% height = 60%>

            <button class="w3-button w3-display-left w3-green" onclick="plusDivs(-1) ">&#10094;</button>
            <button class="w3-button w3-display-right w3-green" onclick="plusDivs(+1)">&#10095;</button>
        </div>
        
   </div>

   <div align = "center">
        <p style = "color: #ffffff"> Cinematograful este localizat în centrul orașului Cluj-Napoca: </p> 
        <iframe style="width:50%;height:40%;background:grey;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14266.967934115226!2d23.580655163334153!3d46.77006143107312!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47490e9d0bb760e3%3A0x1a009cab634afa8!2sCentru%2C%20Cluj-Napoca!5e0!3m2!1sro!2sro!4v1670934468026!5m2!1sro!2sro" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>   
   </div>
   

   <script>
    var myIndex = 0;
    carousel();
    
    function carousel() {
      var i;
      var x = document.getElementsByClassName("mySlides");
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";  
      }
      myIndex++;
      if (myIndex > x.length) {myIndex = 1}    
      x[myIndex-1].style.display = "block";  
      setTimeout(carousel, 5000); // Change image every 2 seconds
    }

    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
        showDivs(slideIndex += n);
    }

    function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("mySlides");
        if (n > x.length) {slideIndex = 1}
        if (n < 1) {slideIndex = x.length} ;
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        x[slideIndex-1].style.display = "block";
    }
   </script>


</body>

</html>