{% load static %}
<script src="{% static 'cinema/scripts.js' %}"></script>
<html lang="en">

<head>
    <title>Profil</title>
    <link rel="stylesheet" href="{% static 'cinema/style.css' %}">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>


<body>
    <div class="header">
        <h1><a href="index" style="color: inherit; text-decoration: none;">{{settings.site_name}}</a></h1>
        {% if user.is_authenticated%}
            <span id = "hello"> Bine ai venit, {{request.user}}! <a href="logout" style="color: #ff0000; text-decoration: none;"> (logout)</a></span>
        {% else %}
        {% endif %}
         
        {% if has_notif == True %}
            <a href="notifications" style = "color:#ff0000" ><i class="fa fa-bell"></i></a>
        {% else %}
            <a href="notifications" style = "color:#ffffff" ><i class="fa fa-bell"></i></a>
        {% endif %} 
    </div>

    <div class="content">
        <div class="navbar">
            <ul>
                <li><a href="index">Acasă <i class="fa fa-home"></i></a></li>
                <li><a href="schedule">Program <i class="fa fa-calendar"></i></a></li>
                <li><a class = "active" href="profile">Profil <i class="fa fa-address-book"></i> </a></li>
                <li><a href="contact">Contact <i class="fa fa-phone"></i></a></li>
                {% for group_for in request.user.groups.all %}
                {% if group_for.name == 'employee' or group_for.name == 'admin' %}
                    <li><a href="employee" style = "color: #3333cc">Angajat </a></li>
                {% endif %}

                {% if group_for.name == 'admin' %}
                    <li><a href="admin" style = "color: #cc0000">Admin </a></li>
                {% endif %}

            {% endfor %}
            </ul>
        </div>


        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Câmp</th>
                <th scope="col">Informație</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Nume utilizator</td>
                <td>{{user}}</td>
                <td>
                    <form method="POST" action="">
                      {%csrf_token%}
                      <input type="text" name="username" placeholder = "new username" value = {{user}}>
                      <input type="submit" name="submit" value ="modifică">
                    </form>
                </td>
                
              </tr>

              <tr>
                <th scope="row">2</th>
                <td>Prenume</td>
                <td>{{first_name}}</td>
                <td>
                  <form method="POST" action="">
                    {%csrf_token%}
                    <input type="text" name="firstname" placeholder = "new first name">
                    <input type="submit" name="submit" value ="modifică">
                  </form>
              </td>
              </tr>

              <tr>
                <th scope="row">3</th>
                <td>Nume de familie</td>
                <td>{{last_name}}</td>
                <td>
                  <form method="POST" action="">
                    {%csrf_token%}
                    <input type="text" name="lastname" placeholder = "new last name">
                    <input type="submit" name="submit" value ="modifică">
                  </form>
              </td>
              </tr>

              <tr>
                <th scope="row">3</th>
                <td>E-Mail</td>
                <td>{{email}}</td>
                <td>
                  <form method="POST" action="">
                    {%csrf_token%}
                    <input type="text" name="email" placeholder = "new email">
                    <input type="submit" name="submit" value ="modifică">
                  </form>
              </td>
              </tr>

              <tr>
                <th scope="row">4</th>
                <td>Dată înregistrare</td>
                <td>{{date_joined}}</td>
              </tr>

              <tr>
                <th scope="row">5</th>
                <td>Ultima logare</td>
                <td>{{last_login}}</td>
              </tr>


              {% if salary != -1%}
                <tr style="color:#0000ff">
                  <th scope="row">6</th>
                  <td>Salariu</td>
                  <td>{{salary}} lei</td>
                </tr>
              {%else %}
              {% endif %}

            </tbody>
          </table>
      
   </div>



</body>

</html>